* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nawigacja */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #111;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
    z-index: 1000;
}

/* Logo */
.nav__logo {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

/* Lista */
.nav__list {
    list-style: none;
    display: flex;
    gap: 30px;
}

/* Linki */
.nav__link {
    text-decoration: none;
    color: #ccc;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

/* Hover */
.nav__link:hover {
    color: white;
}

/* Aktywny link */
.nav__link.active {
    color: #c47713;
    border-bottom: 2px solid #c47713;
    padding-bottom: 4px;
}